.none {
	display: none;
}

.info {
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;

	.details {
		font-size: 18px;
		margin: 0 0 43px 35px;
		font-weight: 400;
	}

	.title {
		font-size: 24px;
		margin: 0 auto;
		text-align: center;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		font-weight: 400;
	}

	.imagesBeforeAnswer {
		margin: 120px auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 130px;
	}

	.weather {
		margin: 35px 0 0 35px;
		max-width: 355px;
		border-bottom: 1px solid #ffffff;
	}

	.oneDay,
	.fiveDays {
		margin: 35px 35px 0 35px;
	}
}

@media (max-width: 768px) {
	.info {
		.details {
			margin: 15px auto;
			width: fit-content;
		}
		.weather {
			margin: 20px auto 0;
		}
		.oneDay,
		.fiveDays {
			margin: 30px auto;
			width: 70vw;
		}
	}
}

@media (max-width: 540px) {
	.info {
		.weather {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin: 20px auto;
			height: 35vh;
			max-width: 320px;
		}
	}
}
