.block {
	display: flex;
	margin: 580px 0 120px 116px;

	.btn {
		background-color: transparent;
		border: none;
		font-size: 60px;
		color: #ffffff;
		cursor: pointer;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		gap: 15px;

		.txt {
			margin: 0;
		}

		img {
			padding-top: 3px;
			width: 60px;
			height: 60px;
		}

		&:hover {
			.txt {
				-webkit-text-shadow: 2px 2px 2px #2196f3;
				-moz-text-shadow: 2px 2px 2px #2196f3;
				text-shadow: 2px 2px 2px #2196f3;
			}
			img {
				padding-top: 5px;
				width: 55px;
				height: 55px;
				-webkit-filter: drop-shadow(3px 3px 3px #2196f3);
				filter: drop-shadow(3px 3px 3px #2196f3);
			}
		}

		&:active {
			-webkit-transform: translateY(1px);
			-ms-transform: translateY(1px);
			transform: translateY(1px);
		}
	}
}
