.weatherInfo {
	border-left: 5px solid #ffffff14;
	width: 500px;
	height: 100vh;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);

	.form {
		max-width: 400px;
		margin: 40px auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		.input {
			width: 371px;
			height: 50px;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #ffffff;
			outline: none;
			color: #ffffff;
			font-size: 20px;
			font-family: Arial, Helvetica, sans-serif;
			text-transform: capitalize;

			&::-webkit-input-placeholder {
				color: #ffffffa9;
			}
			&::-moz-placeholder {
				color: #ffffffa9;
			}
			&:-ms-input-placeholder {
				color: #ffffffa9;
			}
			&::-ms-input-placeholder {
				color: #ffffffa9;
			}
			&::placeholder {
				color: #ffffffa9;
			}
		}

		.btn {
			margin: 0 0 0 -50px;
			background-color: transparent;
			border: none;
			cursor: pointer;
			user-select: none;
			outline: none;

			&:hover {
				-webkit-filter: drop-shadow(3px 3px 3px #2196f3);
				filter: drop-shadow(3px 3px 3px #2196f3);
			}
			&:active {
				-webkit-transform: translateY(1px);
				-ms-transform: translateY(1px);
				transform: translateY(1px);
			}
		}

		.question {
			height: 53px;
			width: 303px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			color: #ffffff;
			font-size: 20px;
			font-family: Arial, Helvetica, sans-serif;
		}

		.switch {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 34px;
			user-select: none;
			outline: none;
		}

		.switch input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			-webkit-transition: 0.4s;
			-o-transition: 0.4s;
			transition: 0.4s;
			border-radius: 34px;
		}

		.slider:before {
			position: absolute;
			content: '';
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: 0.4s;
			-o-transition: 0.4s;
			transition: 0.4s;
			border-radius: 34px;
		}

		input:checked + .slider {
			background-color: #2196f3;
			-webkit-filter: drop-shadow(0px 0px 8px #2196f3);
			filter: drop-shadow(0px 0px 8px #2196f3);
		}

		input:checked + .slider:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
		}
	}
}

@media (min-width: 1800px) {
	.weatherInfo {
		border-right: 5px solid #ffffff14;

		.form {
			margin-bottom: 15vh;
		}
	}
}

@media (max-width: 1200px) {
	.weatherInfo {
		max-width: 450px;
	}
}

@media (max-width: 768px) {
	.weatherInfo {
		border-top: 5px solid #ffffff14;
		border-left: none;
		width: auto;
		max-width: 1000px;
		max-height: 721px;

		.form {
			position: absolute;
			top: -260px;
			right: 0;
			max-width: 400px;
		}
	}
}

@media (max-width: 540px) {
	.weatherInfo {
		.form {
			right: 15px;

			.input {
				width: 300px;
				margin: 0 auto;
			}
			.question {
				width: 233px;
				margin: 0 auto;
			}
		}
	}
}
